canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
}

.card-container {
  border-radius: 20px;
}

.deckSelected{
 color: #2250a4;
}