<div>
  <h1 class="title">Choose Cards</h1>
  <div class="card-container bg-white py-3 mt-3">
    <div *ngFor="let card of cr_cards">
      <img
        [src]="card.iconUrls.medium"
        alt="{{ card.name }}"
        (click)="toggleCardSelection(card)"
        [class.selected]="selectedCards.includes(card)"
        class="small"
      />
    </div>
  </div>
  <div class="button-container mt-3">
    <div class="button p-3" (click)="viewStatistics()">Voir les statistiques</div>
  </div>
</div>
