<div class="sort-option-container my-3 d-flex justify-content-end mb-2 mx-5">
  <select [(ngModel)]="selectedSortOption" class="form-select form-select-sm" (change)="onSortOptionChange()">
    <option value="winrate">Sort by Winrate</option>
    <option value="highestClanLevel">Sort by Highest Clan Level</option>
  </select>
</div>

<h1 class="title text-center mt-2 p-2">
  Top 20 Best Decks by {{ selectedSortOption === 'winrate' ? 'Winrate' : 'Highest Clan Level' }}
</h1>
<div class="filter-container my-3 d-flex justify-content-end mb-2 mx-5">
  <div class="controls d-flex item-center mx-5 mb-4">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="timeFrameOptions" id="weekOption" [(ngModel)]="selectedTimeFrame" value="week" (change)="onTimeFrameChange()">
      <label class="form-check-label" for="weekOption">Week</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="timeFrameOptions" id="monthOption" [(ngModel)]="selectedTimeFrame" value="month" (change)="onTimeFrameChange()">
      <label class="form-check-label" for="monthOption">Month</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="timeFrameOptions" id="yearOption" [(ngModel)]="selectedTimeFrame" value="year" (change)="onTimeFrameChange()">
      <label class="form-check-label" for="yearOption">Year</label>
    </div>
    <select [(ngModel)]="selectedWeek" class="form-select form-select-sm" [disabled]="selectedTimeFrame !== 'week'">
      <option *ngFor="let week of weeks" [value]="week">Week {{ week }}</option>
    </select>
    <select [(ngModel)]="selectedMonth" class="form-select form-select-sm" [disabled]="selectedTimeFrame !== 'month'">
      <option value="JANUARY">January</option>
      <option value="FEBRUARY">February</option>
      <option value="MARCH">March</option>
      <option value="APRIL">April</option>
      <option value="MAY">May</option>
      <option value="JUNE">June</option>
      <option value="JULY">July</option>
      <option value="AUGUST">August</option>
      <option value="SEPTEMBER">September</option>
      <option value="OCTOBER">October</option>
      <option value="NOVEMBER">November</option>
      <option value="DECEMBER">December</option>
    </select>
    <select [(ngModel)]="selectedYear" class="form-select form-select-sm" [disabled]="selectedTimeFrame === ''">
      <option *ngFor="let year of [2023, 2024]" [value]="year">{{ year }}</option>
    </select>

    <button class="btn custom-btn mx-2" (click)="updateKeyAndFetchDecks()">Select</button>
  </div>
</div>
<div class="mb-2 mx-5" *ngFor="let deck of deckSummaries">
  <app-deck-card [deck]="deck"></app-deck-card>
</div>
<div *ngIf="deckSummaries.length === 0" class="text-center mt-3">
  <p class="text-muted">No deck to display. Please select a period and click on 'Select'.</p>
</div>
