<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top p-1">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo_clash_royale.png" alt="logo_clash_royale" height="45">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Ngrams</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1 class="title text-center mt-2 p-2">{{ title }}</h1>
  <div class="my-4">
    <app-deck-statistics></app-deck-statistics>
  </div>
</div>
